* {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    font-size: larger;
}

h1 {
    padding-left: 750px;
    font-size:60px;
}

h2 {
    font-weight: 1000;
    font-size: 30px
}

h4 {
    font-weight: 1000;
    font-size: 25px;
    text-decoration: underline ;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: auto;
}

.ingredients, .steps {
    font-size: 18px;
}

.box {
    box-sizing: border-box;
    width: fit-content;
    border: 10px solid whitesmoke;
    list-style-position: inside;
    padding: 20px;
    margin: 0 auto; 
    text-align: left;
}

.box-left {
    box-sizing: border-box;
    border: 10px solid whitesmoke;
    list-style-position: inside;
    padding: 20px;
    margin: 0 auto; 
    text-align: left;
}

p {
    font-size: 25px;
}